@import "compass";
@import "compass/reset";

@import "variables";
@import "mixins";
@import "base";
body{
    visibility: hidden;
}
.mapVisualization{
    width: 80%;
}

.sideBar{
    background-color: grey;
    width: 20%;
    height: 20%;
    display: inline-block;
}
