@import "compass";
@import "compass/reset";

@import "variables";
@import "mixins";
@import "base";

#map{
    width: 80%;
}

.mapVisualization{
    width: 80%;
}

.sideBar{
    background-color: grey;
    width: 20%;
    height: 20%;
    display: inline-block;
}

//MAP CSS

